.app-wrapper {
  width: 650px;
  margin: 0 auto;
  display: grid;
  /* Всё что находится в внутри тега с этим классом, все первые потомки будут как грид элементы. */

  grid-template-areas: 
  'h h'
  'n c';
  grid-template-columns: 60px 1fr;
  /* Указываем сколько строк будет. 2 */
  grid-template-columns: 2fr 10fr;
  /* Указваем сколько колонок 2 */
  grid-gap: 5px;
}

.app-wrapper-content {
    grid-area: c;
    background-color:rgb(242, 254, 237);
    border-radius: 10px;
    padding: 10px;
}